#info_proveedor{
  display: none ;
  flex-flow: row wrap ;
  justify-content: space-between ;
  align-items: center ;
  /* display: block; */
}
#editar{
    color: white;
    text-decoration: none;
    
}

#ocultar{
    display: none;
}
/* #info_proveedor{
    display: none;
} */
.inputs{
    border: solid white;
}
a{
    color: white;
    text-decoration: none;
}
#btn{
    margin-left: 5px;
    margin-bottom: 10px;
}