#resultado {
  color: red;
  font-size: 15px;
}

.new_abono {
  display: none;
}
#close_na {
  display: none;
}
a {
  color: white;
}


.modal-content {
  width: 800px;
}

#tablas {
  width: 680;
  margin-left: 30px;
}
